/* Set the default font for the entire page */
body {
  background-color: #f4f4f4; /* Set a light background color */
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

/* Add padding to the container to create space around the content */
.container {
  padding: 20px;
}


/* Style the header with a dark background, white text, and centered content */
header {
  background: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* Style the search form in the #apodSearch section */
#apodSearch form {
  margin: 20px 0; /* Add margin to the form */
}

/* Style the APOD result image in the #apodResult section */
#apodResult img {
  display: block;
  margin: 0 auto; /* Center the image */
  max-width: 100%; /* Make sure the image doesn't exceed its container */
  height: auto; /* Maintain the aspect ratio */
}

/* Style buttons to have a pointer cursor */
button {
  cursor: pointer;
}

/* Optional: Add styles for responsiveness on smaller screens */
@media (max-width: 767px) {
  #apodSearch form {
      flex-direction: column; /* Stack form elements in a column on small screens */
  }

  #apodSearch form .form-group {
      margin-bottom: 10px; /* Add margin to form groups for spacing */
  }
}
