body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}

header {
  background: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

#apodSearch form {
  margin: 20px 0;
}

#apodResult img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* Optional: Add styles for responsiveness */
@media (max-width: 767px) {
  #apodSearch form {
      flex-direction: column;
  }

  #apodSearch form .form-group {
      margin-bottom: 10px;
  }
}
